{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "lf",
  "quoteProps": "preserve",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
