:root {
    --regularColor: var(--colorPurple);
    --errorColor: var(--colorRed);
    --successColor: var(--colorGreen);
}

.a {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--gridBaseline);

    color: inherit;
    padding: var(--gridBaseline) calc(var(--gridBaseline) * 2);
    text-decoration: none;
    background: var(--colorBackground);
    transition:
        background 0.15s ease,
        color 0.15s ease;
    cursor: pointer;
    border: 1px solid var(--regularColor);
}

.button:hover:not(.disabled) {
    color: var(--colorWhite);
}

.regular.button {
    color: var(--regularColor);
}
.regular.button:hover:not(.disabled) {
    background: var(--regularColor);
}

.active {
    background: var(--regularColor);
    color: white;
}

.error.button {
    border-color: var(--errorColor);
    color: var(--errorColor);
}
.error.button:hover:not(.disabled) {
    background: var(--errorColor);
}

.success.button {
    position: relative;
    border-color: var(--successColor);
    background: var(--successColor);
    color: var(--colorWhite);
}
.success.button:hover:not(.disabled) {
    margin: -1px;
    border-width: 2px;
}

.button.disabled {
    border-color: var(--colorGrey);
    color: var(--colorGrey);
    cursor: not-allowed;
}

.trailingIcon {
    margin-left: var(--gridBaseline);
}
