@value colorWhite, colorPurple, colorPurpleDark, colorGreen, colorGrey, colorRed, colorBgDark from "ui/base/colors/colors.module.css";
@value gridBaseline from "ui/base/metrics/metrics.module.css";

@value regularColor: colorPurple;
@value regularColorDark: colorPurpleDark;
@value errorColor: colorRed;
@value successColor: colorGreen;

.a {
    text-decoration: none;
    color: inherit;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: inherit;
    padding: gridBaseline calc(gridBaseline * 2);
    text-decoration: none;
    background: transparent;
    transition:
        background 0.15s ease,
        color 0.15s ease;
    cursor: pointer;
    border: 1px solid regularColor;
}

[data-theme="dark"] .button {
    border-color: regularColorDark;
}

.button:hover:not(.disabled) {
    color: colorWhite;
}

.regular.button {
    color: regularColor;
}

[data-theme="dark"] .regular.button {
    color: colorWhite;
}

.regular.button:hover:not(.disabled) {
    background: regularColor;
}

[data-theme="dark"] .button:hover:not(.disabled) {
    background: regularColorDark;
}

.active {
    background: regularColor;
    color: colorWhite;
}

[data-theme="dark"] .active {
    background: regularColorDark;
}


.error.button {
    border-color: errorColor;
    color: errorColor;
}
.error.button:hover:not(.disabled) {
    background: errorColor;
}

.success.button {
    position: relative;
    border-color: successColor;
    background: successColor;
    color: colorWhite;
}
.success.button:hover:not(.disabled) {
    margin: -1px;
    border-width: 2px;
}

.button.disabled {
    border-color: colorGrey;
    color: colorGrey;
    cursor: not-allowed;
}

.loadingSpinner {
    margin-left: gridBaseline;
}
