@value gridBaseline from "ui/base/metrics/metrics.module.css";
@value colorGrey, colorGreyA15, colorGreyA30 from "ui/base/colors/colors.module.css";

@value margins: calc(gridBaseline * 3);
@value albumArtMaxWidth: 300px;
@value gap: calc(gridBaseline * 3);
@value minContentWidth: calc(gridBaseline * 80);
@value breakpoint: calc(albumArtMaxWidth + gap + minContentWidth + margins);

.mapPage {
    height: 100%;
    padding: margins;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.albumArt {
    position: relative;
    flex-shrink: 0;
    height: albumArtMaxWidth;
    width: albumArtMaxWidth;
    margin: auto;
    margin-bottom: calc(gridBaseline * 3);
    animation: 2s infinite loadingAlbumArt;
}
@keyframes loadingAlbumArt {
    0% {
        background-color: colorGreyA15;
    }
    50% {
        background-color: colorGreyA30;
    }
    100% {
        background-color: colorGreyA15;
    }
}

.albumArtImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapContent {
    display: flex;
    flex-direction: column;
    gap: gridBaseline;
    height: 100%;
    min-width: min(100%, calc(gridBaseline * 100));
    max-width: max(calc(gridBaseline * 140));
}

.difficulties {
    display: flex;
    gap: gridBaseline;
}
.difficultyPill {
    background: colorGrey;
    padding: calc(gridBaseline * 0.5) calc(gridBaseline * 2);
    border-radius: calc(gridBaseline * 2);
}

.description {
    flex: 1 1 0;
    overflow-y: auto;
}

.description br + br + br {
    display: none;
}

.actions {
    display: grid;
    gap: gridBaseline;
    grid-auto-flow: column;
    width: min-content;
    margin: gridBaseline 0;
}

@media screen and (min-width: breakpoint) {
    .mapPage {
        flex-direction: row;
        align-items: flex-start;
    }

    .albumArt {
        margin: inherit;
        margin-right: calc(gridBaseline * 3);
    }
}
