:root {
    --margins: calc(var(--gridBaseline) * 3);
    --albumArtMaxWidth: 300px;
    --gap: calc(var(--gridBaseline) * 3);
    --minContentWidth: calc(var(--gridBaseline) * 80);
    --breakpoint: calc(
        var(--albumArtMaxWidth) + var(--gap) + var(--minContentWidth) + var(--margins)
    );
}

.mapPage {
    height: 100%;
    padding: var(--margins);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.albumArt {
    position: relative;
    flex-shrink: 0;
    height: var(--albumArtMaxWidth);
    width: var(--albumArtMaxWidth);
    margin: auto;
    margin-bottom: calc(var(--gridBaseline) * 3);
    animation: 2s infinite loadingAlbumArt;
}
@keyframes loadingAlbumArt {
    0% {
        background-color: var(--colorGreyA15);
    }
    50% {
        background-color: var(--colorGreyA30);
    }
    100% {
        background-color: var(--colorGreyA15);
    }
}

.albumArtImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapContent {
    display: flex;
    flex-direction: column;
    gap: var(--gridBaseline);
    height: 100%;
    min-width: min(100%, calc(var(--gridBaseline) * 100));
    max-width: max(calc(var(--gridBaseline) * 140));
}

.difficulties {
    display: flex;
    gap: var(--gridBaseline);
}
.difficultyPill {
    background: var(--colorGrey);
    padding: calc(var(--gridBaseline) * 0.5) calc(var(--gridBaseline) * 2);
    border-radius: calc(var(--gridBaseline) * 2);
}

.description {
    flex: 1 1 0;
    overflow-y: auto;
}

.description br + br + br {
    display: none;
}

.actions {
    display: grid;
    gap: var(--gridBaseline);
    grid-auto-flow: column;
    width: min-content;
    margin: var(--gridBaseline) 0;
}

@media screen and (min-width: var(--breakpoint)) {
    .mapPage {
        flex-direction: row;
        align-items: flex-start;
    }

    .albumArt {
        margin: inherit;
        margin-right: calc(var(--gridBaseline) * 3);
    }
}
