@value gridBaseline from "ui/base/metrics/metrics.module.css";
@value colorPurple, colorPurpleDark, colorRed, colorGreyA30, colorGreyA5 from "ui/base/colors/colors.module.css";

.submitMap {
    height: 100%;
    margin: auto;
    width: calc(gridBaseline * 130);
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileContainer {
    position: relative;
    min-height: calc(gridBaseline * 30);
    min-width: calc(gridBaseline * 30);
    max-width: 90%;
    padding: calc(gridBaseline * 2);
    border-width: 2px;
    border-style: dashed;
    border-color: colorGreyA30;
    background: colorGreyA5;
    cursor: pointer;
}

.fileContainer.hasMapData {
    border-color: colorPurple;
}

:global([data-theme="dark"]) .fileContainer.hasMapData {
    border-color: colorPurpleDark;
}

.fileContainer.isSubmitting {
    cursor: inherit;
}

.fileContainer > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;
}

.filenames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.uploadProgress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressContainer {
    margin-left: calc(gridBaseline * 2);
    position: relative;
    min-height: gridBaseline;
    width: calc(gridBaseline * 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    border-radius: calc(gridBaseline / 2);
    overflow: hidden;
    background: colorGreyA30;
}

.progressInner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: colorPurple;
}

:global([data-theme="dark"]) .progressInner {
    background: colorPurpleDark;
}

.progressError {
    min-height: calc(gridBaseline * 4);
    border: 1px solid colorRed;
}
