.submitMap {
    height: 100%;
    margin: auto;
    width: calc(var(--gridBaseline) * 130);
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileContainer {
    position: relative;
    min-height: calc(var(--gridBaseline) * 30);
    min-width: calc(var(--gridBaseline) * 30);
    max-width: 90%;
    padding: calc(var(--gridBaseline) * 2);
    border-width: 2px;
    border-style: dashed;
    border-color: var(--colorGreyA30);
    background: var(--colorGreyA5);
    cursor: pointer;
}

.fileContainer.hasMapData {
    border-color: var(--colorPurple);
}

.fileContainer.isSubmitting {
    cursor: inherit;
}

.fileContainer > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;
}

.filenames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.uploadProgress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressContainer {
    margin-left: calc(var(--gridBaseline) * 2);
    position: relative;
    min-height: var(--gridBaseline);
    width: calc(var(--gridBaseline) * 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    border-radius: calc(var(--gridBaseline) / 2);
    overflow: hidden;
    background: var(--colorGreyA30);
}

.progressInner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--colorPurple);
}

.progressError {
    min-height: calc(var(--gridBaseline) * 4);
    border: 1px solid var(--colorRed);
}
