@value gridBaseline from "pages/paradb/base/metrics/metrics.css";

.loginSignup {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: calc(gridBaseline * 35);
    max-width: 90%;
}

.submitContainer {
    display: flex;
    width: 100%;
    margin-top: gridBaseline;
    align-items: center;
    justify-content: space-between;
}

.formError {
    margin-top: calc(gridBaseline * 2);
}
