@value colorBlack, colorPurple from "pages/paradb/base/colors/colors.css";
@value bodyStyled from "./text.css";

.link {
    color: colorBlack;
    transition: 0.15s color ease-in-out;
}
.link:hover {
    color: colorPurple;
}
