@value colorGrey from "pages/paradb/base/colors/colors.css";
@value gridBaseline from "pages/paradb/base/metrics/metrics.css";

.container {
    margin: gridBaseline;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 16px;
    margin-bottom: calc(gridBaseline * 0.5);
}

.textbox {
    outline: none;

    border: 1px solid colorGrey;
    padding: calc(gridBaseline * 0.5) gridBaseline;

    font-family: 'Futura Light';
    font-size: 20px;
}
