@value gridBaseline from 'pages/paradb/base/metrics/metrics.css';

.mapList {
    color: #666;
}

.filter {
    padding: gridBaseline calc(gridBaseline * 2);
}

.map {
    border: 1px solid #666;
    padding: calc(gridBaseline * 2);
    margin: calc(gridBaseline * 2);
}
