@value gridBaseline from "pages/paradb/base/metrics/metrics.css";
@value colorLightGrey, colorPurple from "pages/paradb/base/colors/colors.css";

@value gutter: calc(gridBaseline * 2);

.filter {
    padding: gridBaseline gutter;
}

.mapListTable {
    padding: 0 gutter;
    color: #666;
}

.mapListRow {
    box-shadow: 0 0 0 1px colorLightGrey;
    transition: box-shadow 0.05s linear;
}

.mapListRow:hover {
    box-shadow: 0 0 0 1px colorPurple;
}

.mapListCell {
    display: block;
    padding: calc(gridBaseline * 1.5) gridBaseline;
}

.uploadDateCell {
    display: flex;
    justify-content: center;
}
