.settings {
    max-width: calc(var(--gridBaseline) * 80);
    margin: calc(var(--gridBaseline) * 10) auto auto auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gridBaseline) * 2);
}

.avatarSection {
    display: flex;
    align-items: center;
    gap: calc(var(--gridBaseline) * 2);
}

.avatar,
.avatarPlaceholder {
    width: calc(var(--gridBaseline) * 10);
    height: calc(var(--gridBaseline) * 10);
    border-radius: 50%;
    object-fit: cover;
}

.avatarPlaceholder {
    background-color: var(--colorGreyA15);
}
