@value colorRed, colorGrey from "pages/paradb/base/colors/colors.css";
@value gridBaseline from "pages/paradb/base/metrics/metrics.css";

.container {
    margin-top: gridBaseline;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    margin-bottom: calc(gridBaseline * 0.5);
}

.numeric {
    outline: none;

    border: 1px solid colorGrey;
    padding: calc(gridBaseline * 0.5) gridBaseline;

    font-family: 'Futura Light';
    font-size: 20px;

    flex: 1;
}

.errorContainer .numeric {
    border: 1px solid colorRed;
}
