@value colorPurple, colorPurpleDark from "ui/base/colors/colors.module.css";

.link {
    cursor: pointer;
    color: inherit;
}

.link:hover {
    color: colorPurple;
}

:global([data-theme="dark"]) .link:hover {
    color: colorPurpleDark;
}
