:root {
    --weightValueSemibold: 600;
}

.text {
    margin: 0;
    margin-bottom: 0.1em;
}

.styleRegular {
    font-family: 'Futura Light', sans-serif;
}
.styleTitle {
    font-family: 'Futura Book', sans-serif;
}
.styleMonospace {
    font-family: 'Courier Prime', monospace;
    letter-spacing: -0.03em;
}
.styleCode {
    font-family: 'Courier Prime', monospace;
    letter-spacing: -0.03em;
    background-color: var(--colorGreyA5);
    border: 1px solid var(--colorPurple);
    border-radius: calc(var(--gridBaseline) / 2);
}

.weightRegular {
    font-weight: 400;
}
.weightSemibold {
    font-weight: var(--weightValueSemibold);
}
.weightBold {
    font-weight: 700;
}
.weightExtrabold {
    font-weight: 800;
}
.weightBlack {
    font-weight: 900;
}

.tiny {
    font-size: 14px;
    line-height: 1.8;
}
.small {
    font-size: 16px;
    line-height: 1.5;
}
.medium {
    font-size: 18px;
    line-height: 1.5;
}
.large {
    font-size: 24px;
    line-height: 1.3;
}
.extraLarge {
    font-size: 36px;
    line-height: 1.3;
}

.textColorFg {
    color: var(--colorForeground);
}
.textColorFgSecondary {
    color: var(--colorForegroundSecondary);
}
.textColorRed {
    color: var(--colorRed);
}
.textColorWhite {
    color: var(--colorWhite);
}
.textColorGrey {
    color: var(--colorGrey);
}
.textColorPurple {
    color: var(--colorPurple);
}

.displayInline.styleCode {
    padding: calc(var(--gridBaseline) / 6) calc(var(--gridBaseline));
}
.displayBlock.styleCode {
    white-space: pre;
    padding: calc(var(--gridBaseline));
    margin: calc(var(--gridBaseline)) 0;
}

.custom {
}
