@value colorGreyA5, colorRed, colorWhite, colorGrey, colorPurple, colorPurpleDark, colorGreyA5Dark from "ui/base/colors/colors.module.css";
@value weightValueSemibold: 600;
@value gridBaseline from "ui/base/metrics/metrics.module.css";

.text {
    margin: 0;
    margin-bottom: 0.1em;
}

.styleRegular {
    font-family: 'Futura Light', sans-serif;
}
.styleTitle {
    font-family: 'Futura Book', sans-serif;
}
.styleMonospace {
    font-family: 'Courier Prime', monospace;
    letter-spacing: -0.03em;
}
.styleCode {
    font-family: 'Courier Prime', monospace;
    letter-spacing: -0.03em;
    background-color: colorGreyA5;
    border: 1px solid colorPurple;
    border-radius: calc(gridBaseline / 2);
}

:global([data-theme='dark']) .styleCode {
    background-color: colorGreyA5Dark;
    border-color: colorPurpleDark;
}

.weightRegular {
    font-weight: 400;
}
.weightSemibold {
    font-weight: weightValueSemibold;
}
.weightBold {
    font-weight: 700;
}
.weightExtrabold {
    font-weight: 800;
}
.weightBlack {
    font-weight: 900;
}

.tiny {
    font-size: 14px;
    line-height: 1.8;
}
.small {
    font-size: 16px;
    line-height: 1.3;
}
.medium {
    font-size: 18px;
    line-height: 1.3;
}
.large {
    font-size: 24px;
    line-height: 1.3;
}
.extraLarge {
    font-size: 36px;
    line-height: 1.3;
}
.textColorRed {
    color: colorRed;
}
.textColorWhite {
    color: colorWhite;
}
.textColorGrey {
    color: colorGrey;
}
.textColorPurple {
    color: colorPurple;
}

:global([data-theme='dark']) .textColorPurple {
    color: colorPurpleDark;
}
.textColorAuto {
    color: inherit;
}

:global([data-theme='dark']) .textColorAuto {
    color: colorWhite;
}

.displayInline.styleCode {
    padding: calc(gridBaseline / 6) calc(gridBaseline);
}
.displayBlock.styleCode {
    white-space: pre;
    padding: calc(gridBaseline);
    margin: calc(gridBaseline) 0;
}

.custom {
    /* Custom text styles can be added here */
}
