services:
  # paradb:
  #   extends:
  #     file: docker-compose.yml
  #     service: paradb
  #   build:
  #     context: ..
  #     dockerfile: Dockerfile.dev
  #   network_mode: host
  #   environment:
  #     - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
  #     - S3_ACCESS_KEY_SECRET=${S3_ACCESS_KEY_SECRET}
  #     - S3_MAPS_BUCKET=${S3_MAPS_BUCKET}
  #     - BASE_URL=${BASE_URL}
  #     - S3_ENDPOINT=http://localhost:9000
  #     - MEILISEARCH_HOST=localhost:7700
  #     - DYNAMIC_CONFIG_ENDPOINT=http://minio:9000
  #   volumes:
  #     - ..:/etc/paradb/paradb
  #   depends_on:
  #     meilisearch:
  #       condition: service_healthy
  #     minio:
  #       condition: service_healthy
  meilisearch:
    extends:
      file: docker-compose.yml
      service: meilisearch
    ports:
      - 7700:7700
  minio:
    image: minio/minio:latest
    container_name: paradb_minio
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000
    volumes:
      - paradb_minio_data:/data
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 5s
      timeout: 20s
      retries: 3

volumes:
  paradb_minio_data:
