services:
  paradb:
    build:
      context: ..
      args:
        - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}
    container_name: paradb_server
    environment:
      - PGHOST=${PGHOST}
      - PGPORT=${PGPORT}
      - PGUSER=${PGUSER}
      - PGDATABASE=${PGDATABASE}
      - PGPASSWORD=${PGPASSWORD}
      - MEILISEARCH_HOST=meilisearch:7700
    ports:
      - 3000:3000
    restart: unless-stopped
    depends_on:
      meilisearch:
        condition: service_healthy
  meilisearch:
    image: getmeili/meilisearch:v1.31
    container_name: paradb_meilisearch
    environment:
      - MEILI_MASTER_KEY=${MEILISEARCH_KEY}
    volumes:
      - ${MEILISEARCH_DATA_DIR}:/meili_data
    restart: unless-stopped
    healthcheck:
      test: set -o pipefail;curl -fsS http://localhost:7700/health | grep -q '{"status":"available"}'
      retries: 5
      timeout: 60s
      start_period: 10s
