.container {
    margin-top: var(--gridBaseline);
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    margin-bottom: calc(var(--gridBaseline) * 0.5);
}

.numeric {
    outline: none;

    border: 1px solid var(--colorGrey);
    padding: calc(var(--gridBaseline) * 0.5) var(--gridBaseline);

    font-family: 'Futura Light';
    font-size: 20px;
    background: var(--colorBackground);
    color: var(--colorForeground);

    flex: 1;
}

.errorContainer .numeric {
    border: 1px solid var(--colorRed);
}
