@value colorRed, colorGrey, colorBgDark, colorWhite from "ui/base/colors/colors.module.css";
@value gridBaseline from "ui/base/metrics/metrics.module.css";

.container {
    margin-top: gridBaseline;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    margin-bottom: calc(gridBaseline * 0.5);
}

.numeric {
    outline: none;

    border: 1px solid colorGrey;
    padding: calc(gridBaseline * 0.5) gridBaseline;

    font-family: 'Futura Light';
    font-size: 20px;
    background: transparent;
    color: inherit;

    flex: 1;
}

:global([data-theme="dark"]) .numeric {
    background: colorBgDark;
    color: colorWhite;
}

.errorContainer .numeric {
    border: 1px solid colorRed;
}
