@import '../ui/base/design_system/design_system.css';

@font-face {
    font-family: 'Futura Book';
    src: url('/futura-book.otf') format('opentype');
}
@font-face {
    font-family: 'Futura Light';
    src: url('/futura-light.otf') format('opentype');
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    /* TODO: define and import default typography styles from base/text */
    font-family: 'Futura Light';
    background-color: var(--colorBackground);
    color: var(--colorForeground);
}
