@value gridBaseline from "ui/base/metrics/metrics.module.css";

.skeleton {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
