.container {
    display: flex;
    flex-direction: column;
}

.textboxBorder {
    border-style: solid;
    display: flex;
    align-items: center;
    padding: var(--gridBaseline);
}

.borderGrey {
    border-color: var(--colorGrey);
}
.borderPurple {
    border-color: var(--colorAccent);
}

.readOnly {
    background-color: var(--colorBackgroundSecondary);
}

.textbox {
    flex: 1;
    border: none;
    outline: none;
    padding: calc(var(--gridBaseline) * 0.5) var(--gridBaseline);

    font-family: 'Futura Light';
    font-size: 20px;
    background: var(--colorBackground);
    color: var(--colorForeground);

    height: 100%;
    resize: vertical;
}
.readOnly .textbox {
    background: transparent;
}

.errorContainer .textboxBorder {
    border-color: var(--colorRed);
}
