.tooltip {
    background: var(--colorForeground);
    color: var(--colorBackground);
    padding: var(--gridBaseline) calc(var(--gridBaseline) * 1.5);
    border-radius: 4px;
    font-size: 14px;
    max-width: 250px;
}

.tooltip[data-placement='top'] {
    margin-bottom: 8px;
}

.tooltip[data-placement='bottom'] {
    margin-top: 8px;
}

.tooltip[data-placement='left'] {
    margin-right: 8px;
}

.tooltip[data-placement='right'] {
    margin-left: 8px;
}

.arrow {
    position: absolute;
}

.arrow svg {
    fill: var(--colorForeground);
    display: block;
}

.tooltip[data-placement='top'] .arrow {
    bottom: -4px;
}

.tooltip[data-placement='top'] .arrow svg {
    transform: rotate(180deg);
}

.tooltip[data-placement='bottom'] .arrow {
    top: -4px;
}

.tooltip[data-placement='left'] .arrow {
    right: -4px;
}

.tooltip[data-placement='left'] .arrow svg {
    transform: rotate(90deg);
}

.tooltip[data-placement='right'] .arrow {
    left: -4px;
}

.tooltip[data-placement='right'] .arrow svg {
    transform: rotate(-90deg);
}

/* Entering animation */
.tooltip[data-entering] {
    animation: fadeIn 150ms ease-out;
}

/* Exiting animation */
.tooltip[data-exiting] {
    animation: fadeOut 150ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
