.tooltip {
    background: var(--colorBackground);
    color: var(--colorForeground);
    padding: var(--gridBaseline) calc(var(--gridBaseline) * 1.5);
    border-radius: calc(var(--gridBaseline) * 0.5);
    border: 1px solid var(--colorAccent);
    box-sizing: border-box;
    font-size: 14px;
    max-width: calc(var(--gridBaseline) * 32);
    transition: opacity 100ms ease-in-out;
}

.tooltip[data-placement='top'] {
    margin-bottom: var(--gridBaseline);
}

.tooltip[data-placement='bottom'] {
    margin-top: var(--gridBaseline);
}

.tooltip[data-placement='left'] {
    margin-right: var(--gridBaseline);
}

.tooltip[data-placement='right'] {
    margin-left: var(--gridBaseline);
}

.arrow {
    position: absolute;
}

.arrow svg {
    fill: var(--colorBackground);
    display: block;
}

.tooltip[data-placement='top'] .arrow {
    bottom: calc(var(--gridBaseline) * -0.5);
}

.tooltip[data-placement='bottom'] .arrow {
    top: calc(var(--gridBaseline) * -1);
}

.tooltip[data-placement='left'] .arrow {
    right: calc(var(--gridBaseline) * -0.5);
}

.tooltip[data-placement='right'] .arrow {
    left: calc(var(--gridBaseline) * -1);
}

.tooltip[data-placement='bottom'] .arrow svg {
    transform: rotate(180deg);
}

.tooltip[data-placement='left'] .arrow svg {
    transform: rotate(-90deg);
}

.tooltip[data-placement='right'] .arrow svg {
    transform: rotate(90deg);
}

.tooltip[data-entering] {
    opacity: 0;
}

.tooltip[data-exiting] {
    opacity: 0;
}
