.tooltip {
    background: var(--colorBackground);
    color: var(--colorForeground);
    padding: var(--gridBaseline) calc(var(--gridBaseline) * 1.5);
    border-radius: calc(var(--gridBaseline) * 0.5);
    border: 1px solid var(--colorAccent);
    box-sizing: border-box;
    font-size: 14px;
    max-width: calc(var(--gridBaseline) * 32);
    transition: opacity 100ms ease-in-out;
}

.tooltip[data-starting-style],
.tooltip[data-ending-style] {
    opacity: 0;
}

.arrow svg {
    fill: var(--colorBackground);
    display: block;
}

.arrow[data-side='bottom'] svg {
    transform: rotate(180deg);
}

.arrow[data-side='left'] svg {
    transform: rotate(-90deg);
}

.arrow[data-side='right'] svg {
    transform: rotate(90deg);
}
