@value colorWhite, colorPurple, colorGrey from "pages/paradb/base/colors/colors.css";
@value gridBaseline from "pages/paradb/base/metrics/metrics.css";

.a {
    text-decoration: none;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;
    color: inherit;
    border: 1px solid colorPurple;
    padding: gridBaseline calc(gridBaseline * 2);
    text-decoration: none;
    background: colorWhite;
    transition: background 0.15s ease, color 0.15s ease;
    cursor: pointer;
}

.button:hover:not(.disabled) {
    background: colorPurple;
    color: colorWhite;
}

.button.disabled {
    border: 1px solid colorGrey;
    color: colorGrey;
    cursor: not-allowed;
}

.loadingSpinner {
    margin-left: gridBaseline;
}
