.dialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--colorDialogOverlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    position: relative;
    background-color: var(--colorBackground);
    padding: calc(var(--gridBaseline) * 2);
    border: 1px dotted var(--colorForeground);
}

.close {
    position: absolute;
    top: calc(var(--gridBaseline) * -4);
    right: calc(var(--gridBaseline) * -4);

    width: calc(var(--gridBaseline) * 4);
    height: calc(var(--gridBaseline) * 4);
    line-height: calc(var(--gridBaseline) * 4);

    background: rgba(0, 0, 0, 0.4);
    color: var(--colorWhite);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: calc(var(--gridBaseline) * 2);
}
