.loginSignup {
    display: flex;
    gap: var(--gridBaseline);
    margin: auto;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: calc(var(--gridBaseline) * 35);
    max-width: 90%;
}

.submitContainer {
    display: flex;
    width: 100%;
    margin-top: var(--gridBaseline);
    align-items: center;
    justify-content: space-between;
}
