@value gridBaseline from 'pages/paradb/base/metrics/metrics.css';
@value colorDarkGrey, colorPurple, colorWhite from 'pages/paradb/base/colors/colors.css';

.navbar {
    flex-shrink: 0;
    display: flex;
    min-height: calc(gridBaseline * 7);
    background: colorDarkGrey;
    color: colorWhite;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: inherit;
    margin-left: calc(gridBaseline * 2.5);
    text-decoration: none;
    transition: color 0.1s ease;
}

.userStatus {
    margin-right: calc(gridBaseline * 3);
}

.menuItem {
    margin: 0 gridBaseline;
}
