@value gridBaseline from "pages/paradb/base/metrics/metrics.css";
@value colorPurple, colorGreyA5 from "pages/paradb/base/colors/colors.css";

.instructions {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(gridBaseline * 120);
}

.section {
    margin: calc(gridBaseline * 2) 0;
}

.instructionList li::marker {
    line-height: 2;
    font-weight: bold;
}
