@value gridBaseline from 'ui/base/metrics/metrics.module.css';
@value colorDarkGrey, colorDarkGreyDark, colorPurple, colorWhite from 'ui/base/colors/colors.module.css';

.navbar {
    display: flex;
    min-height: calc(gridBaseline * 7);
    background: colorDarkGrey;
    color: colorWhite;
    align-items: center;
    justify-content: space-between;
}

:global([data-theme="dark"]) .navbar {
    background: colorDarkGreyDark;
}

.logo {
    color: inherit;
    margin-left: calc(gridBaseline * 2.5);
    text-decoration: none;
    transition: color 0.1s ease;
}

.navbarActions {
    display: flex;
    align-items: center;
}

.userStatus {
    margin-right: calc(gridBaseline * 1);
}

.menuItem {
    margin: 0 gridBaseline;
}

.themeToggleContainer {
    margin-right: calc(gridBaseline * 2);
}
