.navbar {
    display: flex;
    min-height: calc(var(--gridBaseline) * 7);
    background: var(--colorDarkGrey);
    color: var(--colorWhite);
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: inherit;
    margin-left: calc(var(--gridBaseline) * 2.5);
    text-decoration: none;
    transition: color 0.1s ease;
}

.navbarActions {
    display: flex;
    align-items: center;
}

.menuItem {
    margin: 0 var(--gridBaseline);
}

.themeToggleContainer {
    margin-right: var(--gridBaseline);
}
