.settings {
    max-width: calc(var(--gridBaseline) * 80);
    margin: calc(var(--gridBaseline) * 10) auto auto auto;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gridBaseline) * 2);
}
